@import "./styles/basic-buttons.css";
@import "./styles/homepage.css";
@import "./styles/studyingFlashcardPage.css";
@import "./styles/studyingPage.css";
@import url("https://fonts.googleapis.com/css?family=Lato|Nunito");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  font-size: 1rem;
  background-color: #fae6f2;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}
